<!--suppress ThymeleafVariablesResolveInspection, XmlDuplicatedId -->
<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{shared/_layout}" layout:fragment="content">
    <br>
    <!-- Ref Account Type Form -->
    <h2 th:if="${refAccountTypeDto != null}">Ref Account Type Form:</h2>
    <form th:action="@{~/refTypes/refAccountTypeDto/formSubmit}" th:if="${refAccountTypeDto != null}"
          th:object="${refAccountTypeDto}" method="POST" enctype="utf8">
        <!-- Errors -->
        <div th:if="${#fields.hasErrors()}">
            <h4>Error summary: </h4>
            <ul class="list-group">
                <li class="list-group-item-danger" th:each="error: ${#fields.allErrors()}"
                    th:text="${error}">Validation error
                </li>
            </ul>
            <br>
        </div>
        <!-- /errors -->

        <!-- ID -->
        <input type="hidden" th:field="*{id}">

        <!-- Code -->
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" aria-describedby="refAccountTypeCode"
                   th:field="*{code}"/>
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" aria-describedby="refAccountTypeDescription"
                   th:field="*{description}"/>
        </div>

        <!-- IsCheckingType -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isCheckingType" aria-describedby="refAccountTypeIsCheckingType"
                  th:checked="*{isCheckingType}"/>
            <label class="form-check-label" for="isCheckingType">Is Checking</label>
        </div>

        <!-- Is Savings Type -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isSavingsType" aria-describedby="refAccountTypeIsSavingsType"
                  th:checked="*{isSavingsType}"/>
            <label class="form-check-label" for="isSavingsType">Is Savings</label>
        </div>

        <!-- Is Certificate Of Deposit -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isCertificateOfDeposit" aria-describedby="refAccountTypeIsCertificateOfDeposit"
                  th:checked="*{isCertificateOfDepositType}"/>
            <label class="form-check-label" for="isCertificateOfDeposit">Is Certificate Of Deposit</label>
        </div>

        <!-- Is Money Market Type -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isMoneyMarketType" aria-describedby="refAccountTypeIsMoneyMarketType"
                  th:checked="*{isMoneyMarketType}"/>
            <label class="form-check-label" for="isMoneyMarketType">Is Money Market</label>
        </div>

        <!-- Is Individual Retirement Type -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isIndividualRetirementType" aria-describedby="refAccountTypeIsIndividualRetirementType"
                  th:checked="*{isIndividualRetirementType}"/>
            <label class="form-check-label" for="isIndividualRetirementType">Is Individual Retirement</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- Ref Account Status Form -->
    <h2 th:if="${refAccountStatusDto != null}">Ref Status Form:</h2>
    <form th:action="@{~/refTypes/refAccountStatus/formSubmit}" th:if="${refAccountStatusDto != null}"
          th:object="${refAccountStatusDto}" method="POST" enctype="utf8">
        <!-- Errors -->
        <div th:if="${#fields.hasErrors()}">
            <h4>Error summary: </h4>
            <ul class="list-group">
                <li class="list-group-item-danger" th:each="error: ${#fields.allErrors()}"
                    th:text="${error}">Validation error
                </li>
            </ul>
            <br>
        </div>
        <!-- /errors -->

        <!-- ID -->
        <input type="hidden" th:field="*{id}">

        <!-- Code -->
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" aria-describedby="refAccountTypeCode"
                   th:field="*{code}"/>
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" aria-describedby="refAccountTypeDescription"
                   th:field="*{description}"/>
        </div>

        <!-- Is Active Status Status -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isActiveStatus" aria-describedby="refAccountTypeIsActiveStatus"
                   th:field="*{isActiveStatus}"/>
            <label class="form-check-label" for="isActiveStatus">Is Active</label>
        </div>

        <!-- Is Closed Status -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isClosedStatus" aria-describedby="refAccountTypeIsClosedStatus"
                   th:field="*{isClosedStatus}"/>
            <label class="form-check-label" for="isClosedStatus">Is Closed</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- Ref Transaction Type Form -->
    <h2 th:if="${refTransactionTypeDto != null}">Ref Transaction Type Form:</h2>
    <form th:action="@{~/refTypes/refTransactionType/formSubmit}" th:if="${refTransactionTypeDto != null}"
          th:object="${refTransactionTypeDto}" method="POST" enctype="utf8">
        <!-- Errors -->
        <div th:if="${#fields.hasErrors()}">
            <h4>Error summary: </h4>
            <ul class="list-group">
                <li class="list-group-item-danger" th:each="error: ${#fields.allErrors()}"
                    th:text="${error}">Validation error
                </li>
            </ul>
            <br>
        </div>
        <!-- /errors -->

        <!-- ID -->
        <input type="hidden" th:field="*{id}">

        <!-- Code -->
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" aria-describedby="refAccountTypeCode"
                   th:field="*{code}"/>
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" aria-describedby="refAccountTypeDescription"
                   th:field="*{description}"/>
        </div>

        <!-- Is Deposit Type-->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isDepositType" aria-describedby="refAccountTypeIsDepositType"
                   th:field="*{isDepositType}"/>
            <label class="form-check-label" for="isDepositType">IsDeposit</label>
        </div>

        <!-- Is Withdrawal Type-->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isWithdrawalType" aria-describedby="refAccountTypeIsWithdrawalType"
                   th:field="*{isWithdrawalType}"/>
            <label class="form-check-label" for="isWithdrawalType">IsWithdrawal</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>