<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{shared/_layout}" layout:fragment="content">
    <br>
    <div class="row">
        <!-- Ref Account Types -->
        <div class="col-12">
            <h2>Ref Account Types</h2>
            <table th:unless="${#lists.isEmpty(refAccountTypes)}" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="refAccountType : ${refAccountTypes}">
                    <th th:text="${refAccountType.getId()}" scope="row"></th>
                    <td th:text="${refAccountType.getCode()}"></td>
                    <td th:text="${refAccountType.getDescription()}"></td>
                    <td><a th:href="${'/refTypes/form/accountType/' + refAccountType.getId()}" class="btn btn-sm btn-warning">Edit</a></td>
                    <td><a th:href="${'/refTypes/delete/accountType/' + refAccountType.getId()}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /ref account types -->

        <!-- Ref Account Statuses -->
        <div class="col-12">
            <h2>Ref Account Statuses</h2>
            <table th:unless="${#lists.isEmpty(refAccountStatuses)}" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="refAccountStatus : ${refAccountStatuses}">
                    <th th:text="${refAccountStatus.getId()}" scope="row"></th>
                    <td th:text="${refAccountStatus.getCode()}"></td>
                    <td th:text="${refAccountStatus.getDescription()}"></td>
                    <td><a th:href="${'/refTypes/form/accountStatus/' + refAccountStatus.getId()}" class="btn btn-sm btn-warning">Edit</a></td>
                    <td><a th:href="${'/refTypes/delete/accountStatus/' + refAccountStatus.getId()}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /ref account statuses -->

        <!-- Ref Transaction Types -->
        <div class="col-12">
            <h2>Ref Transaction Types</h2>
            <table th:unless="${#lists.isEmpty(refTransactionTypes)}" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="refTransactionType : ${refTransactionTypes}">
                    <th th:text="${refTransactionType.getId()}" scope="row"></th>
                    <td th:text="${refTransactionType.getCode()}"></td>
                    <td th:text="${refTransactionType.getDescription()}"></td>
                    <td><a th:href="${'/refTypes/form/transactionType/' + refTransactionType.getId()}" class="btn btn-sm btn-warning">Edit</a></td>
                    <td><a th:href="${'/refTypes/delete/transactionType/' + refTransactionType.getId()}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /ref transaction types -->

    </div>
</div>