<!--suppress ALL -->
<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{shared/_layout}" layout:fragment="content">
    <br>

    <!-- Messages & Errors -->
    <div class="alert alert-danger" th:if="${param.error != null}">
        <span th:text="${param.error}"></span>
    </div>
    <div class="alert alert-info" th:if="${param.message != null}">
        <span th:text="${param.message}"></span>
    </div>
    <br>
    <!-- /messages & errors -->

    <div class="row">
        <!-- Reference Account Types -->
        <div class="col-12">
            <a th:href="@{~/refTypes/form/branchType}" class="btn btn-primary">Add Reference Branch Type</a>
            <br>
            <br>
            <h2>Reference Branch Types</h2>
            <table th:unless="${#lists.isEmpty(refBranchTypes)}" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="refBranchType : ${refBranchTypes}">
                    <th th:text="${refBranchType.getId()}" scope="row"></th>
                    <td th:text="${refBranchType.getCode()}"></td>
                    <td th:text="${refBranchType.getDescription()}"></td>
                    <td><a th:href="${'/refTypes/form/branchType/' + refBranchType.getId()}" class="btn btn-sm btn-warning">Edit</a></td>
                    <td><a th:href="${'/refTypes/delete/branchType/' + refBranchType.getId()}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /reference senderAccount types -->

        <!-- Reference Account Types -->
        <div class="col-12">
            <a th:href="@{~/refTypes/form/accountType}" class="btn btn-primary">Add New Reference Account Type</a>
            <br>
            <br>
            <h2>Reference Account Types</h2>
            <table th:unless="${#lists.isEmpty(refAccountTypes)}" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="refAccountType : ${refAccountTypes}">
                    <th th:text="${refAccountType.getId()}" scope="row"></th>
                    <td th:text="${refAccountType.getCode()}"></td>
                    <td th:text="${refAccountType.getDescription()}"></td>
                    <td><a th:href="${'/refTypes/form/accountType/' + refAccountType.getId()}" class="btn btn-sm btn-warning">Edit</a></td>
                    <td><a th:href="${'/refTypes/delete/accountType/' + refAccountType.getId()}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /reference senderAccount types -->

        <!-- Reference Account Statuses -->
        <div class="col-12">
            <a th:href="@{~/refTypes/form/accountStatus}" class="btn btn-primary">Add New Reference Account Status</a>
            <br>
            <br>
            <h2>Reference Account Statuses</h2>
            <table th:unless="${#lists.isEmpty(refAccountStatuses)}" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="refAccountStatus : ${refAccountStatuses}">
                    <th th:text="${refAccountStatus.getId()}" scope="row"></th>
                    <td th:text="${refAccountStatus.getCode()}"></td>
                    <td th:text="${refAccountStatus.getDescription()}"></td>
                    <td><a th:href="${'/refTypes/form/accountStatus/' + refAccountStatus.getId()}" class="btn btn-sm btn-warning">Edit</a></td>
                    <td><a th:href="${'/refTypes/delete/accountStatus/' + refAccountStatus.getId()}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /reference senderAccount statuses -->

        <!-- Reference Transaction Types -->
        <div class="col-12">
            <a th:href="@{~/refTypes/form/transactionType}" class="btn btn-primary">Add New Reference Transaction Type</a>
            <br>
            <br>
            <h2>Reference Transaction Types</h2>
            <table th:unless="${#lists.isEmpty(refTransactionTypes)}" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="refTransactionType : ${refTransactionTypes}">
                    <th th:text="${refTransactionType.getId()}" scope="row"></th>
                    <td th:text="${refTransactionType.getCode()}"></td>
                    <td th:text="${refTransactionType.getDescription()}"></td>
                    <td><a th:href="${'/refTypes/form/transactionType/' + refTransactionType.getId()}" class="btn btn-sm btn-warning">Edit</a></td>
                    <td><a th:href="${'/refTypes/delete/transactionType/' + refTransactionType.getId()}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /reference transaction types -->

    </div>
</div>