<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{shared/_layout}" layout:fragment="content">
    <h3 th:text="'readWorks: ' + ${readWorks}" class="list-group-item">Client</h3>
    <h3 th:text="'addWorks: ' + ${addWorks}" class="list-group-item">Client</h3>
    <h3 th:text="'updateWorks: ' + ${updateWorks}" class="list-group-item">Client</h3>
    <h3 th:text="'deleteWorks: ' + ${deleteWorks}" class="list-group-item">Client</h3>
</div>