<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{shared/_layout}" layout:fragment="content">
    <br>
    <h2>Branch Form:</h2>
    <form th:action="@{~/branch/formSubmit}" th:object="${branchDto}" method="POST" enctype="utf8">
        <!-- Errors -->
        <div th:if="${#fields.hasErrors()}">
            <h4>Error summary: </h4>
            <ul class="list-group">
                <li class="list-group-item-danger" th:each="error: ${#fields.allErrors()}"
                    th:text="${error}">Validation error
                </li>
            </ul>
            <br>
        </div>
        <!-- /errors -->

        <!-- ID -->
        <input type="hidden" th:field="*{id}">

        <!-- Details -->
        <div class="form-group">
            <label for="description">Details</label>
            <input type="text" class="form-control" id="description" aria-describedby="branchDescription"
                   placeholder="Describe the branch" th:field="*{details}"/>
        </div>

        <!-- AddressOLD -->
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" aria-describedby="branchAddress"
                   placeholder="Address line" th:field="*{address.line1}"/>
        </div>

        <!-- BankOLD -->
        <div class="form-group">
            <label for="bank">Bank</label>
            <br>
            <select name="bank" id="bank" th:field="*{bank.id}">
                <option value="0">Select a bank</option>
                <option th:each="bankOption : ${allBanks}" th:value="${bankOption.id}" th:text="${bankOption.details}"></option>
            </select>
        </div>

        <!-- Type -->
        <div class="form-group">
            <label for="type">Type</label>
            <br>
            <select name="type" id="type" th:field="*{type.id}">
                <option value="0">Select a type</option>
                <option th:each="typeOption : ${allTypes}" th:value="${typeOption.id}" th:text="${typeOption.code}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>