<!--suppress ALL -->
<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{shared/_layout}" layout:fragment="content">
    <br>
    <h2>Branch list: </h2>
    <a th:href="@{~/branch/form}" class="btn btn-primary">Add New</a>
    <br>
    <br>

    <!-- Messages & Errors -->
    <div class="alert alert-danger" th:if="${param.error != null}">
        <span th:text="${param.error}"></span>
    </div>
    <div class="alert alert-info" th:if="${param.message != null}">
        <span th:text="${param.message}"></span>
    </div>
    <!-- /messages & errors -->

    <!-- List of Branches -->
    <table th:unless="${#lists.isEmpty(branches)}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Address(Line 1)</th>
            <th scope="col">Bank</th>
            <th scope="col">Type</th>
            <th scope="col">Details</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="branch : ${branches}">
            <th th:text="${branch.getId()}" scope="row"></th>
            <td th:text="${branch.getAddress().getLine1()}"></td>
            <td th:text="${branch.getBank().getDetails()}"></td>
            <td th:text="${branch.getRefBranchType().getCode()}"></td>
            <td th:text="${branch.getDetails()}"></td>
            <td><a th:href="${'/branch/form/' + branch.getId()}" class="btn btn-sm btn-warning">Edit</a></td>
            <td><a th:href="${'/branch/delete/' + branch.getId()}" class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div id="pagination-navigation" class="pagination offset-5">

        </div>
    </div>
    <br>
    <!-- /list of branches -->


    <script th:src="@{/js/pagination-navigation/pagination-navigation.js}"></script>
    <script type="text/javascript">
        var currentPageIndex = [[${currentPageIndex}]];
        var totalPages = [[${totalPages}]];
        var paginationNavigation = document.querySelector("#pagination-navigation");
        var domainModelName = "branch";

        generatePaginationNavigation(currentPageIndex, totalPages, paginationNavigation, domainModelName);
    </script>
</div>