<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{shared/_layout}" layout:fragment="content">
    <div class="row">
        <div id="errormsg" style="display:none"></div>
        <div>

            <!-- Old Password -->
            <div class="form-group">
                <label for="oldpass">Old Password</label>
                <input class="form-control" id="oldpass" name="oldPassword" type="password"/>
            </div>

            <!-- New Password -->
            <div class="form-group">
                <label for="pass">New Password</label>
                <input class="form-control" id="pass" name="password" type="password"/>
            </div>

            <!-- Confirm New Password-->
            <div class="form-group">
                <label for="passConfirm">Confirm New Password</label>
                <input class="form-control" id="passConfirm" type="password"/>
            </div>

            <span id="error" style="display:none">Password mismatch</span>

            <button class="btn btn-primary" type="submit" onclick="savePass()">Change Password</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        var serverContext = "http://localhost:8080";

        function savePass() {
            var pass = $("#pass").val();
            var valid = pass == $("#passConfirm").val();
            if (!valid) {
                $("#error").show();
                return;
            }
            $.post(serverContext + "/account/updatePassword",
                {password: pass, oldPassword: $("#oldpass").val()}, function (data) {
                    window.location.href = serverContext + "/account/passwordChangeSuccess";
                })
                .fail(function (data) {
                    $("#errormsg").show().html(data.responseJSON.message);
                });
        }
    </script>
</div>
