<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{shared/_layout}" layout:fragment="content">
    <div class="container">
        <h1 th:text="#{message.resetPassword}">reset</h1>
        <br/>
        <div class="row">
            <form action="/account/resetPassword">
                <label class="col-sm-1" th:text="#{label.user.email}">email</label>
                <span class="col-sm-5">
                    <input class="form-control" id="email" name="email" type="email" value="" required="required"/>
                </span>
                <button class="btn btn-primary" type="submit" th:text="#{message.resetPassword}">reset</button>
            </form>
        </div>

        <br/>
        <a class="btn btn-default" th:href="@{/account/registration}" th:text="#{label.form.loginSignUp}">registration</a>
        <br/><br/>
        <a class="btn btn-default" th:href="@{/account/login}" th:text="#{label.form.loginLink}">login</a>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:inline="javascript">
        var serverContext = "http://localhost:8080";

            $(document).ready(function () {
                $('form').submit(function (event) {
                    resetPass(event);
                });
            });

            function resetPass(event) {
                event.preventDefault();
                var email = $("#email").val();
                $.post(serverContext + "/account/resetPassword", {email: email}, function (data) {
                    window.location.href = serverContext + "/account/login?message=" + data.message;
                })
                    .fail(function (data) {
                        if (data.responseJSON.error.indexOf("MailError") > -1) {
                            window.location.href = serverContext + "/account/emailError";
                        } else {
                            window.location.href = serverContext + "/account/login?message=" + data.responseJSON.message;
                        }
                    });
            }

            $(document).ajaxStart(function () {
                $("title").html("LOADING ...");
            });
    </script>
</div>