<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{shared/_layout}" layout:fragment="content">
    <ul th:each="customer : ${customers}" class="list-group">
        <li th:text="${customer.getId()}" class="list-group-item">Client</li>
        <li th:text="${customer.getAddress().getLine1()}" class="list-group-item">Client</li>
        <li th:text="${customer.getBranch().getBranchDetails()}" class="list-group-item">Client</li>
        <li th:text="${customer.getPersonalDetails()}" class="list-group-item">Client</li>
        <li th:text="${customer.getContactDetails()}" class="list-group-item">Client</li>
    </ul>
</div>