<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{shared/_layout}" layout:fragment="content">
    <br>
    <h2>Bank Account:</h2>
    <ul th:each="bankAccount : ${bankAccounts}" class="list-group">
        <li th:text="'Id / Account number: ' + ${bankAccount.getId()}" class="list-group-item">Client</li>
        <li th:text="'Account status code: ' + ${bankAccount.getStatus().getCode()}" class="list-group-item">Client</li>
        <li th:text="'Account type code: ' + ${bankAccount.getType().getCode()}" class="list-group-item">Client</li>
        <li th:text="'Customer / Owner: ' + ${bankAccount.getCustomer().getPersonalDetails()}" class="list-group-item">Client</li>
        <li th:text="'Balance: ' + ${bankAccount.getBalance()}" class="list-group-item">Client</li>
        <li th:text="'Details: ' + ${bankAccount.getDetails()}" class="list-group-item">Client</li>
    </ul>
</div>