<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{shared/_layout}" layout:fragment="content">
    <br>
    <h2>Bank Form:</h2>
    <form th:action="@{~/bank/formSubmit}" th:object="${bankDto}" method="POST" enctype="utf8">
        <div th:if="${#fields.hasErrors()}">
            <h4>Error summary: </h4>
            <ul class="list-group">
                <li class="list-group-item-danger" th:each="error: ${#fields.allErrors()}"
                    th:text="${error}">Validation error
                </li>
            </ul>
            <br>
        </div>
        <div class="form-group">
            <label for="description">Details</label>
            <input type="text" class="form-control" id="description" aria-describedby="bankDescription"
                   placeholder="Name of the bank" th:field="*{details}"/>
        </div>
        <input type="hidden" th:field="*{id}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>